// Specify overrides (theme and/or base variables etc.)
// See https://vuetifyjs.com/quick-start
$theme := {
  primary: #257DB0
  accent: #68C1E8
  secondary: #424242
  info: #2196F3
  warning: #FFC107
  error: #FF5252
  success: #4CAF50
}
